*{
    padding: 0%;
    margin: 0px;
}
header{
    background-color: bisque;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: aquamarine;
    width: 600px;
}
.input{
    margin: 10px;
    width: 500px;
    padding: 10px;
}
.news{
    background-color: yellow;
    color: black;
    width: 600px;
}
.title{
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
.time{
    text-align: right;
    padding-right: 30px;
    padding-bottom: 20px;
}
.text{
    padding: 20px;
    padding-top: 0px;
}
